@model ProgramOrganizerViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ProgramMaster</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Program.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Program.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Program.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Program.Description)
        </dd>
    </dl>
    <hr />
    <h4>List of Organizers</h4>
    <ul>
        @foreach (var org in Model.Organizations)
        {
            <li>@org.Name</li>
        }
    </ul>
    <hr />
    <h4>List of events for this program</h4>
    <ul>
        @foreach (var evt in Model.Events)
        {
            <li>@evt.Name</li>
        }
    </ul>
</div>
<br />
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Program.Id">Edit</a>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
