@*Author: ExperienceIT group2
    Description: Programs-Edit.cshtml used to edit the program fields .*@

@model ProgramOrganizerViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card w-100" style="margin-left:50px">
    <form asp-action="Edit" method="post">
        <div class="row">
            <div class="col-md-6 form-group offset-md-5 align-content-md-center text-info">
            <h3>Program-Edit</h3>
            </div>
        </div>

        @*for Required field*@
        <div class="col-md-4 ml-4"><span style="color:#ff0000">* </span><i>is required field</i></div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-md-4 col-xs-6">
                <label asp-for="Program.Name" class="col-form-label ml-5"></label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <input asp-for="Program.Name" class="form-control" style="width:342px" />
                <input type="hidden" asp-for="Program.Id" class="form-control" />
            </div>
            <span asp-validation-for="Program.Name" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-md-4 col-xs-6">
                <label asp-for="Program.Description" class="col-form-label ml-5"></label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <div>
                    @Html.TextAreaFor(model => model.Program.Description)
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.Program.Description, "", new { @class = "text-danger" })
        </div>

        <div class="form-group row">
            <div class="col-md-4 col-xs-6">
                <label asp-for="Program.ProgramUrl" class="col-form-label ml-5"></label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <input asp-for="Program.ProgramUrl" class="form-control" style="width:342px" />
            </div>
            <span asp-validation-for="Program.ProgramUrl" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-md-4 col-xs-6">
                <h2 class="col-form-label ml-5 font-weight-normal">Sponsors<span style="color:#ff0000">*</span></h2>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-8">
                @{
                    var orgIdlist = Model.ProgramOrganizations.Select(x => x.Id).ToArray();
                    <div class="row">
                        @foreach (var orgItem in Model.Organizations)
                        {
                            <div class="col-sm-2">
                                @if (orgIdlist.Contains(orgItem.Id))
                                {
                                    <input type="checkbox" name="orgIds" id="orgIds" checked value="@orgItem.Id" class="form-control" />@orgItem.Name
                                }
                                else
                                {
                                    <input type="checkbox" name="orgIds" id="orgIds" value="@orgItem.Id" class="form-control" />@orgItem.Name
                                }
                            </div>
                        }
                    </div>
                }
            </div>
            <span asp-validation-for="OrganizationId" class="text-danger"></span>
        </div>

        <div class="col-6 offset-3">
            <partial name="_EditAndBackToListButton" model="Model.ProgramId" />
        </div>
        <br />        
    </form>
</div>

@*for Sponsors checkbox validation in edit page*@
@section Scripts {
    <script type="text/javascript">
        var orgIds = '';
        $("#submit").click(function () {
            for (i = 0; i < 5; i++) {
                if (document.getElementsByName('orgIds')[i].checked) {
                    return true;
                }
            }
            alert('Please Select a Sponsor!');
            return false;
        });
    </script>
}

