@*@model ExperienceIT.Web.Models.ProgramMaster*@
@model ProgramOrganizerViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-info">Program</h1>
<h3 class="text-info">Edit</h3>
<div class="border backgroundwhite ">
    <div class="col-md-6"><span style="color:#ff0000">* </span><i>is required field</i></div>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Program.Id" />
                <div class="form-group">
                    <label asp-for="Program.Name" class="control-label">Name<span style="color:#ff0000">*</span></label>
                    <input asp-for="Program.Name" class="form-control" />
                    <span asp-validation-for="Program.Name" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                        <label asp-for="Program.Description" class="control-label"></label>
                        <input asp-for="Program.Description" class="form-control" />
                        <span asp-validation-for="Program.Description" class="text-danger"></span>
                    </div>*@
                <div class="form-group">
                    <label asp-for="Program.Description" class="control-label">Description <span style="color:#ff0000">*</span></label>

                    @Html.TextAreaFor(model => model.Program.Description)
                    @Html.ValidationMessageFor(model => model.Program.Description, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    <label asp-for="Program.ProgramUrl" class="control-label">Url</label>
                    <input asp-for="Program.ProgramUrl" class="form-control" />
                    <span asp-validation-for="Program.ProgramUrl" class="text-danger"></span>
                </div>                
                <h4>Sponsors<span style="color:#ff0000">*</span></h4>
                <div class="row">
                    <div class="col col-8">
                        <div class="form-group">
                            @Html.DropDownListFor(s => s.OrganizationId,
                                new SelectList(Model.Organizations, "Id", "Name"), "--Select Sponsor--", new { @class = "form-control" })
                            <span asp-validation-for="OrganizationId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col col-4">
                        <input type="button" class="btn btn-primary" id="addOrganizer" value="    Add    " />
                    </div>
                </div>
                <ul id="organizers">
                    @foreach (var org in Model.ProgramOrganizations)
                    {
                        <li>@org.Name</li>
                    }
                </ul>
                <br /><br />
                <input type="hidden" id="orgIds" name="orgIds" />

                @*<h4>Events</h4>
                    <div class="row">
                        <div class="col col-8">
                            <div class="form-group">
                                @Html.DropDownListFor(s => s.EventId,
                                    new SelectList(Model.Events, "Id", "Name"), "--Select Event--", new { @class = "form-control" })
                                <span asp-validation-for="EventId" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col col-4">
                            <input type="button" class="btn btn-primary" id="addEvent" value="Add events to program" />
                        </div>
                    </div>
                    <ul id="events">
                        @foreach (var evt in Model.ProgramEvents)
                        {
                            <li>@evt.Name</li>
                        }
                    </ul>
                    <br /><br />
                    <input type="hidden" id="eventIds" name="eventIds" />*@
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-info">Back to List </a>
                </div>
            </form>
        </div>

        <br /><br />
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var orgIds = '';
        $("#addOrganizer").click(function () {
            var orgtext = $("#OrganizationId").find('option:selected').text();
            var org = $("#OrganizationId").val();
            if (org > 0) {
                var li = '<li>' + orgtext + '</li>'
                $("#organizers").append(li);
                orgIds = orgIds + org + ',';
                $("#orgIds").val(orgIds);
            }
        });
        //var eventIds = '';
        //$("#addEvent").click(function () {
        //    var eventText = $("#EventId").find('option:selected').text();
        //    var event = $("#EventId").val();
        //    if (event > 0) {
        //        var li = '<li>' + eventText + '</li>'
        //        $("#events").append(li);
        //        eventIds = eventIds + event + ',';
        //        $("#eventIds").val(eventIds);
        //    }
        //});
    </script>
}
