@model ProgramOrganizerViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


        <div class="container p-3 bg-white">
            <br />
            
                <div class="col-md-6 form-group offset-md-5 align-content-md-center text-info"><h2>Our Programs</h2></div>


                @if (User.IsInRole("ApplicationAdmin"))
                {
                    <div class="text-right">
                        <a><partial name="_CreateButtonPartial" /></a>
                    </div>
                }
          

                <table class="table table-striped border">
                    <tr class="table-secondary">


                        <th>
                            <label>Name</label>
                        </th>
                        <th class="col1">
                            <label>Description</label>
                        </th>
                        <th>
                            <label>&emsp;&nbsp;Sponsors</label>
                        </th>
                        @if (User.IsInRole("ApplicationAdmin"))
                        {
                            <th>
                                <label>Action</label>
                            </th>
                        }
                        else
                        {
                        <th colspan="2"></th>
                        }
                    </tr>


                @foreach (var item in Model.ProgramList)
                {
                    <tr>
                        <td>
                            <a href="@item.ProgramUrl" style="text-decoration:underline" target="_blank">@item.Name</a>
                        </td>
                        <td>
                            @Html.DisplayTextFor(modelItem => item.Description)
                        </td>
                        <td>
                            @{
                                var orgIds = Model.ProgramOrganizerMappers.Where(x => x.ProgramId == item.Id)
                                    .Select(x => x.OrganizerId).ToArray();
                                var orgs = Model.Organizations.Where(x => orgIds.Contains(x.Id)).ToList();
                            }
                            <ul>
                                @foreach (var org in orgs)
                                {
                                    <li>@org.Name</li>
                                }
                            </ul>
                        </td>

                        <td>

                            @if (User.IsInRole("ApplicationAdmin"))
                            {

                                <a asp-action="Edit" class="btn btn-primary px-md-5" asp-route-id="@item.Id">Edit</a>
                            }

                        </td>
                        @if (!User.IsInRole("ApplicationAdmin"))
                        {
                            <td>
                                @Html.ActionLink("View Events", "Index", "Events", new { programId = item.Id }, new { @class = "btn btn-primary btn-large" })
                            </td>
                        }
                    </tr>
                }


            </table>
         </div>
           
    