@model ExperienceIT.Web.Models.EventMaster

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card">
            <form enctype="multipart/form-data" asp-action="Edit">
                <br />
                <div class="row">
                    <div class="col-md-6 form-group offset-md-5 align-content-md-center text-info"><h2>Event Details</h2></div>
                </div>                
                <input type="hidden" asp-for="Id" />            
                <br />

                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <b>@Html.DisplayNameFor(model => model.Name) :</b>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.DisplayFor(model => model.Name)
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <b>@Html.DisplayNameFor(model => model.Description) :</b>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.DisplayFor(model => model.Description)
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <b>@Html.DisplayNameFor(model => model.StartingDate) :</b>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.DisplayFor(model => model.StartingDate)
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <b>@Html.DisplayNameFor(model => model.EndingDate) :</b>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.DisplayFor(model => model.EndingDate)
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <b>@Html.DisplayNameFor(model => model.Venue) :</b>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.DisplayFor(model => model.Venue)
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <b>@Html.DisplayNameFor(model => model.Duration) :</b>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.DisplayFor(model => model.Duration)
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <b>@Html.DisplayNameFor(model => model.ImageUrl) :</b>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <img src="@Model.ImageUrl" width="75" height="75"/>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <br />

                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-md-5">
                        <div class="form-group">                            
                            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary form-control">Edit</a>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div>
                            <a asp-action="Index" class="btn btn-info form-control"><b>Back to List</b></a>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>

                <br />
            </form>
        </div>
    </div>
</div>



















    
   
