@model IEnumerable<ProgramEventViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List Of Events</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.StartingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.EndingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.EnrollmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProgramName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.Venue)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Event.Duration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.StartingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.EndingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.EnrollmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Venue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Duration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Event.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Event.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Event.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
