@model ExperienceIT.Web.Models.VolunteerMaster
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <br/>
            <div class="row">
                <div class="col-md-6 form-group offset-md-4 text-info"><h2>Volunteer Details</h2></div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-md-5">
                    <div class="form-group">
                        <b>@Html.DisplayNameFor(model => model.FirstName) :</b>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.DisplayFor(model => model.FirstName)
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-md-5">
                    <div class="form-group">
                        <b>@Html.DisplayNameFor(model => model.LastName) :</b>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.DisplayFor(model => model.LastName)
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-md-5">
                    <div class="form-group">
                        <b>@Html.DisplayNameFor(model => model.Phone) :</b>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.DisplayFor(model => model.Phone)
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>

            @*<div class="row">
                <div class="col-sm-1"></div>
                <div class="col-md-5">
                    <div class="form-group">
                        <b>@Html.DisplayNameFor(model => model.LinkedIn) :</b>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.DisplayFor(model => model.LinkedIn)
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>*@

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-md-5">
                    <div class="form-group">
                        <b>@Html.DisplayNameFor(model => model.Address) :</b>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.DisplayFor(model => model.Address)
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-md-5">
                    <div class="form-group">
                        <b>@Html.DisplayNameFor(model => model.City) :</b>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.DisplayFor(model => model.City)
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-md-5">
                    <div class="form-group">
                        <b>@Html.DisplayNameFor(model => model.State) :</b>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.DisplayFor(model => model.State)
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-md-5">
                    <div class="form-group">
                        <b>@Html.DisplayNameFor(model => model.Zipcode) :</b>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.DisplayFor(model => model.Zipcode)
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-md-5">
                    <div class="form-group">
                        <b>@Html.DisplayNameFor(model => model.Country) :</b>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.DisplayFor(model => model.Country)
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-md-5">
                    <div class="form-group">
                        <b>@Html.DisplayNameFor(model => model.CurrentOrganization) :</b>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.DisplayFor(model => model.CurrentOrganization)
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-md-5">
                    <div class="form-group">
                        <b>@Html.DisplayNameFor(model => model.Skills) :</b>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.DisplayFor(model => model.Skills)
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-md-5">
                    <div class="form-group">
                        <b>@Html.DisplayNameFor(model => model.YearsOfExperience) :</b>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.DisplayFor(model => model.YearsOfExperience)
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <br/>
            <div class="form-group row">
                <div class="col-md-6 offset-md-3">
                    <div>
                        <a asp-action="Index" class="btn btn-info form-control"><b>Back to List</b></a>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <br /><br/>
            </div>
        </div>
    </div>
         