@model ExperienceIT.Web.Models.VolunteerMaster
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-color: azure;
    }
</style>

<br />
<!--<div class="border backgroundwhite">-->
<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card">
            @* allows entire files to be included in the data(server)*@
            <!--<div class="row">
    <div class="col-md-6">-->
            @*if req prop not filled this will display error*@
            <!--<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">-->
            @*if req prop not filled this will display error*@
            <!--<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="LinkedIn" class="control-label"></label>
                <input asp-for="LinkedIn" class="form-control" />
                <span asp-validation-for="LinkedIn" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">-->
            @*if req prop not filled this will display error*@
            <!--<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">-->
            @*if req prop not filled this will display error*@
            <!--<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Zipcode" class="control-label"></label>
                <input asp-for="Zipcode" class="form-control" />
                <span asp-validation-for="Zipcode" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">-->
            @*if req prop not filled this will display error*@
            <!--<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="CurrentOrganization" class="control-label"></label>
                <input asp-for="CurrentOrganization" class="form-control" />
                <span asp-validation-for="CurrentOrganization" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">-->
            @*if req prop not filled this will display error*@
            <!--<div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Skills" class="control-label"></label>
                        <input asp-for="Skills" class="form-control" />
                        <span asp-validation-for="Skills" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="YearsOfExperience" class="control-label"></label>
                        <input asp-for="YearsOfExperience" class="form-control" />
                        <span asp-validation-for="YearsOfExperience" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(model => model.UserId, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-5 offset-2">
                    <partial name="_EditAndBackToListButton" model="Model.Id" />
                </div>
            </div>
        </form>

    </div>-->
            <div class="row">
                <div class="col-md-6 form-group offset-md-5 align-content-md-center text-info"><h2>Volunteer Details</h2></div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <b>@Html.DisplayNameFor(model => model.FirstName):</b>
                </div>
                <div class="col-md-5">
                    @Html.DisplayFor(model => model.FirstName)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <b>@Html.DisplayNameFor(model => model.LastName):</b>
                </div>
                <div class="col-md-5">
                    @Html.DisplayFor(model => model.LastName)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <b>@Html.DisplayNameFor(model => model.Phone):</b>
                </div>
                <div class="col-md-5">
                    @Html.DisplayFor(model => model.Phone)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <b>@Html.DisplayNameFor(model => model.LinkedIn):</b>
                </div>
                <div class="col-md-5">
                    @Html.DisplayFor(model => model.LinkedIn)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <b>@Html.DisplayNameFor(model => model.Address):</b>
                </div>
                <div class="col-md-5">
                    @Html.DisplayFor(model => model.Address)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <b>@Html.DisplayNameFor(model => model.City):</b>
                </div>
                <div class="col-md-5">
                    @Html.DisplayFor(model => model.City)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <b> @Html.DisplayNameFor(model => model.State):</b>
                </div>
                <div class="col-md-5">
                    @Html.DisplayFor(model => model.State)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <b> @Html.DisplayNameFor(model => model.Zipcode):</b>
                </div>
                <div class="col-md-5">
                    @Html.DisplayFor(model => model.Zipcode)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <b> @Html.DisplayNameFor(model => model.Country):</b>
                </div>
                <div class="col-md-5">
                    @Html.DisplayFor(model => model.Country)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <b>@Html.DisplayNameFor(model => model.CurrentOrganization):</b>
                </div>
                <div class="col-md-5">
                    @Html.DisplayFor(model => model.CurrentOrganization)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <b>@Html.DisplayNameFor(model => model.Skills):</b>
                </div>
                <div class="col-md-5">
                    @Html.DisplayFor(model => model.Skills)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <b>Years Of @Html.DisplayNameFor(model => model.YearsOfExperience):</b>
                </div>
                <div class="col-md-5">
                    @Html.DisplayFor(model => model.YearsOfExperience)
                </div>
            </div>

            @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AgeStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AgeStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aboutme)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aboutme)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>*@

            <br />
            <div class="form-group row">
                @*<div class="col-5 offset-2">
                <partial name="_DetailsAndBackToListButton" model="Model.Id" />
            </div>*@
                <div class="col-6">
                    <a asp-action="Index" class="btn btn-info ">Back To List</a>
                </div>

            </div>
            <br />
            @*</form>*@
        </div>
    </div>
</div>

