@model IEnumerable<ProgramEventViewModel>
@{
    var vems = new List<ProgramEventVolunteerMapper>();
    if (User.Identity.IsAuthenticated)
    {
        if (!User.IsInRole("ApplicationAdmin"))
        {
            vems = (List<ProgramEventVolunteerMapper>)ViewBag.VEM;
        }
    }
}


@*<div class="card">*@
    @*<h3 class="text-center">Our Events</h3>*@
    @foreach (var item in Model)
    {
        <div class="container rounded d-inline-flex my-2 border border-info">
            <div class="col-5 p-2">
                <img class="card-img-top" src="@item.Event.ImageUrl" alt="Card image cap">
            </div>
            <div class="col-7 p-3">
                <h5 class="card-title"><span class="font-weight-bold">Name</span><span class="mr-1">:</span>@item.Event.Name</h5>
                <p class="card-text"><span class="font-weight-bold">Description</span><span class="mr-1">:</span>@item.Event.Description</p>
                <p class="card-text"><span class="font-weight-bold">StartingDate</span><span class="mr-1">:</span>@item.Event.StartingDate</p>
                <p class="card-text"><span class="font-weight-bold">EndingDate</span><span class="mr-1">:</span>@item.Event.EndingDate</p>
                <p class="card-text"><span class="font-weight-bold">Venue</span><span class="mr-1">:</span>@item.Event.Venue</p>
                <p class="card-text"><span class="font-weight-bold">ProgramName</span><span class="mr-1">:</span>@item.ProgramName</p>
                @if (User.Identity.IsAuthenticated)
                {

                    @if (vems.Any(x => x.EventId == item.Event.Id))
                    {

                        <button class="btn btn-danger" id="Register" onclick="RegisterVolunteer(@item.Event.Id, @item.ProgramId,0)">UnRegister</button>

                    }
                    else
                    {

                        <button class="btn btn-primary px-md-4" id="Register" onclick="RegisterVolunteer(@item.Event.Id, @item.ProgramId,1)">Register</button>

                    }
                }

            </div>



        </div>

    }
@*</div>*@


