@*Author: ExperienceIT group2
    Description: Sponsor-Details.cshtml used to view the Details of the Sponsor .*@

@model ExperienceIT.Web.Models.OrganizerMaster

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <br/>
            <div class="row">
                <div class="col-md-6 form-group offset-md-4 text-info"><h2>Sponsor Details</h2></div>
            </div>
            <br/>

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-md-5">
                    <div class="form-group">
                        <b>@Html.DisplayNameFor(model => model.Name) :</b>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.DisplayFor(model => model.Name)
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-md-5">
                    <div class="form-group">
                        <b>@Html.DisplayNameFor(model => model.Address) :</b>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.DisplayFor(model => model.Address)
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-md-5">
                    <div class="form-group">
                        <b>@Html.DisplayNameFor(model => model.City) :</b>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.DisplayFor(model => model.City)
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>            

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-md-5">
                    <div class="form-group">
                        <b>@Html.DisplayNameFor(model => model.State) :</b>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.DisplayFor(model => model.State)
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-md-5">
                    <div class="form-group">
                        <b>@Html.DisplayNameFor(model => model.Zipcode) :</b>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.DisplayFor(model => model.Zipcode)
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-md-5">
                    <div class="form-group">
                        <b>@Html.DisplayNameFor(model => model.Country) :</b>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        @Html.DisplayFor(model => model.Country)
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <br/>
            <div class="form-group row">
                <div class="col-8 offset-2">
                    <partial name="_DetailsAndBackToListButton" model="Model.Id" />
                </div>
            </div>
            <br/><br/>
        </div>
    </div>
</div>
