@model IEnumerable<ExperienceIT.Web.Models.OrganizerMaster>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



            <div class="border backgroundwhite">
                @*adding border,background and image*@
                <div class="row">
                    @*the "row" class is used mainly to hold columns in it.*@
                    <div class="col-6">
                        @*element take half of the horizontal screen space devices.*@
                        <br />
                        <h2 class="section-title col-md-12 offset-md-6">

                            Our Organizers
                        </h2>
                        @*<br />
        <br /*@

                        @*Add meaning through text-colors*@
                    </div>

                    @if (User.IsInRole("ApplicationAdmin"))
                    {
                        <div class="col-6 text-right">
                            @*move the columns to the right*@
                            <a><partial name="_CreateButtonPartial" /></a>
                        </div>
                    }
                </div>


                @if (!User.IsInRole("ApplicationAdmin"))
                {
                    <div class="items">
                        <div>
                            <a class="x-image e46-26 m1a-s m1a-u" href="https://onemagnify.com/"
                               target="_blank" style="outline: none;">
                                <img src="https://experienceitdetroit.com/wp-content/uploads/2021/09/OneMagnify_logo_tag_green_gray_rgb-1-e1633030406642.jpg" />
                            </a>
                        </div>
                        <div>
                            <a href="https://www.dynatrace.com/" target="_blank" style="outline: none;">
                                <img src="~/images/dynatrace.png" />


                            </a>
                        </div>

                        <div>
                            <a class="x-image e46-30 m1a-s m1a-u"
                               href="https://www.bcbs.com/" target="_blank" style="outline: none;">
                                <img src="https://experienceitdetroit.com/wp-content/uploads/2021/09/blue-cross-blue-shield-vector-logo-768x427-1-e1633030781525.png" />
                            </a>
                        </div>
                        <div>
                            <a class="x-image e46-28 m1a-s m1a-u m1a-v" href="https://galaxe.com/"
                               target="_blank" style="outline: none;">
                                <img src="https://experienceitdetroit.com/wp-content/uploads/2021/09/galaxe-1024x175-1.jpg" />
                            </a>
                        </div>
                        <div>
                            <a class="x-image e46-32 m1a-s m1a-u"
                               href="https://www.amrock.com/" target="_blank" style="outline: none;">
                                <img src="https://experienceitdetroit.com/wp-content/uploads/2021/09/L-AmrockScreen-20180228-scaled.jpeg" />
                            </a>
                        </div>
                        <div>
                            <a class="x-image e46-34 m1a-s m1a-u" href="https://www.rockethomes.com/"
                               target="_blank" style="outline: none;">
                                <img src="https://experienceitdetroit.com/wp-content/uploads/2021/09/039a5d_22530d562dd240c7b7ebf968f836612b_mv2-768x262-1.png" />
                            </a>
                        </div>
                        <div>
                            <a class="x-image e46-36 m1a-s m1a-u m1a-v m1a-w" href="https://www.rockcentraldetroit.com/" target="_blank" style="outline: none;">
                                <img src="https://experienceitdetroit.com/wp-content/uploads/2021/09/L-RockCentral-Stacked-O1542883-1024x540-1.png" />
                            </a>

                        </div>
                        <div>
                            <a class="x-image e46-38 m1a-s m1a-u" href="https://www.rocketmortgage.com/"
                               target="_blank" style="outline: none;">
                                <img src="https://experienceitdetroit.com/wp-content/uploads/2021/09/Rocket_Mortgage_Logo.jpg" />
                            </a>
                        </div>


                    </div>
                    <h3 class="section-subtitle text-info text-center">THANK YOU TO ALL OUR CURRENT Organizers</h3>

                }


                @*Below code is commented since the implementaion is changed to slick view*@
                @*<div class="table table-striped border ">
                        <br />
                        <div class="row">
                            <div class="col-6">
                                <a class="x-image e46-26 m1a-s m1a-u" href="https://onemagnify.com/"
                                   target="_blank" style="outline: none;">
                                    <img src="https://experienceitdetroit.com/wp-content/uploads/2021/09/OneMagnify_logo_tag_green_gray_rgb-1-e1633030406642.jpg"
                                         width="180" height="60" alt="One Magnify" loading="lazy">
                                </a>

                            </div>
                            <hr />
                            <div class="col-6">
                                <a class="x-image e46-28 m1a-s m1a-u m1a-v"
                                   href="https://galaxe.com/" target="_blank" style="outline: none;">
                                    <img src="https://experienceitdetroit.com/wp-content/uploads/2021/09/galaxe-1024x175-1.jpg"
                                         width="180" height="60" alt="Image" loading="lazy">
                                </a>
                            </div>
                            <br />
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-6">
                                <a class="x-image e46-30 m1a-s m1a-u"
                                   href="https://www.bcbs.com/" target="_blank" style="outline: none;">
                                    <img src="https://experienceitdetroit.com/wp-content/uploads/2021/09/blue-cross-blue-shield-vector-logo-768x427-1-e1633030781525.png"
                                         width="180" height="60" alt="Image" loading="lazy">
                                </a>
                            </div>
                            <br />
                            <hr />
                            <div class="col-6">
                                <a class="x-image e46-32 m1a-s m1a-u"
                                   href="https://www.amrock.com/" target="_blank" style="outline: none;">
                                    <img src="https://experienceitdetroit.com/wp-content/uploads/2021/09/L-AmrockScreen-20180228-scaled.jpeg"
                                         width="180" height="60" alt="Image" loading="lazy">
                                </a>
                            </div>
                            <br />
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-6">
                                <a class="x-image e46-34 m1a-s m1a-u"
                                   href="https://www.rockethomes.com/" target="_blank" style="outline: none;">
                                    <img src="https://experienceitdetroit.com/wp-content/uploads/2021/09/039a5d_22530d562dd240c7b7ebf968f836612b_mv2-768x262-1.png"
                                         width="180" height="60" alt="Image" loading="lazy">
                                </a>
                            </div>
                            <hr />
                            <br />
                            <div class="col-6">
                                <a class="x-image e46-36 m1a-s m1a-u m1a-v m1a-w"
                                   href="https://www.rockcentraldetroit.com/" target="_blank" style="outline: none;">
                                    <img src="https://experienceitdetroit.com/wp-content/uploads/2021/09/L-RockCentral-Stacked-O1542883-1024x540-1.png"
                                         width="180" height="60" alt="Image" loading="lazy">
                                </a>
                            </div>
                            <br />
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-6">
                                <a class="x-image e46-38 m1a-s m1a-u"
                                   href="https://www.rocketmortgage.com/" target="_blank" style="outline: none;">
                                    <img src="https://experienceitdetroit.com/wp-content/uploads/2021/09/Rocket_Mortgage_Logo.jpg"
                                         width="180" height="60" alt="Image" loading="lazy">
                                </a>
                                <br />
                            </div>
                            <div class="col-6">
                                <a href="https://www.dynatrace.com/" target="_blank" style="outline: none;">
                                    <img src="~/images/dynatrace.png"
                                         width="180" height="60" alt="Image" loading="lazy">
                                </a>
                            </div>
                        </div>

                    }*@
                @if (User.IsInRole("ApplicationAdmin"))
                {
                    <table class="table table-striped border">
                        <tr class="table-secondary">
                            @*<tr>*@
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.City)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.State)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Zipcode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Country)
                            </th>
                            @if (User.IsInRole("ApplicationAdmin"))
                            {
                                <th>Action</th>
                            }
                            @*else if (User.Identity.IsAuthenticated)
                                {

                                    <th>Action</th>
                                }*@

                            <th></th>

                        </tr>


                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.City)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.State)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Zipcode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Country)
                                </td>

                                @if (User.IsInRole("ApplicationAdmin"))
                                {

                                    <partial name="_TableButtonPartial" model="item.Id" />
                                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                                    <a asp-action="Edit" asp-route-id="@item.Id"></a>
                                    <a asp-action="Details" asp-route-id="@item.Id"></a>
                                    <a asp-action="Delete" asp-route-id="@item.Id"></a>




                                }

                            </tr>
                        }
                    </table>

                }
            </div>




